<ion-header>
  <ion-toolbar>
    <ion-title>Todo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating"> Enter you do to item </ion-label>
    <ion-input [(ngModel)]="mytext"></ion-input>
    <ion-button slot="end" (click)="AddList()" color="success">Add</ion-button>
  </ion-item>


  <ion-list class="ion-margin">

    <ion-list-header>
      <ion-label> Your Works </ion-label>
    </ion-list-header>

    <ion-item *ngFor='let item of myList'>
      <ion-label>{{ item }} </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>